<div class="container main-container">
    <div class="row text-center">
        <pagination-controls (pageChange)="paginaAtual = $event" previousLabel="Anterior" nextLabel="Próximo"></pagination-controls>
        <div *ngFor="let leilao of leilaoList | paginate: { itemsPerPage: 6, currentPage: paginaAtual }; let i = index" class="col-md-4" style="padding-bottom: 30px">
            <div class="card h-100">
                <a class="text-decoration-none">
                    <div style="align-content:center;">
                        <!-- <img src="data:image/png;base64,leilao.fotoLeilao" height="164px" width="253px" alt=""> -->
                        <img [src]="leilao.fotoLeilao" height="164px" width="253px" alt="">
                    </div>
                </a>
                <h4 class="card-title">{{ leilao.nome | titlecase }}</h4>

                <p>Lance inicial: {{ leilao.valorInicial | currency: 'BRL'}}</p>
            </div>
        </div>
    </div>
</div>