<div class="container main-container">
    <div class="row text-center">
        <!--Tag que faz o controle de paginacao, filtrando os dados que aparecem ao usuario-->
        <pagination-controls (pageChange)="paginaAtual = $event" previousLabel="Anterior" nextLabel="Próximo"></pagination-controls>
        <!--Para cada leilao em leilaolist, e renderizado um card que traz as informacoes a serem visualizadas. Somente
        aparece 6 itens por pagina e em cada linha ocupada 3 itens-->
        <div *ngFor="let leilao of leilaoList | paginate: { itemsPerPage: 6, currentPage: paginaAtual }; let i = index" class="col-md-4" style="padding-bottom: 30px">
            <div class="card h-100">
                <a class="text-decoration-none">
                    <div style="align-content:center;">
                        <img [src]="leilao.fotoLeilao" height="164px" width="253px" alt="">
                    </div>
                </a>
                <h4 class="card-title">{{ leilao.nome | titlecase }}</h4>

                <p>Lance inicial: {{ leilao.valorInicial | currency: 'BRL'}}</p>
            </div>
        </div>
    </div>
</div>