<div class="container-fluid">
    <div class="row justify-content-center">
        <div class="card form-group col-md-4 col-md-offset-5 align-center" >
            <div class="card-body">
                <div class="row">
                    <h3>Cadastrar leilão</h3>
                </div>
                <form class="row g-3 align-items-center" [formGroup]="cadastroPForm" (ngSubmit)="cadastrarProduto()">
                    <div class="col-md-12">
                        <label for="Produto" class="form-label">Título do leilão</label>
                        <input type="text" class="form-control" id="Produto" required placeholder="Digite o nome do leilão"
                         formControlName="nome" 
                         [ngClass]="{ 'is-invalid': nome.errors && (nome.dirty || nome.touched)} ">
                        <div *ngIf="nome.errors?.required && (nome.dirty || nome.touched)" class="text-danger" >
                            <p>Preencha o nome do leilão</p>
                        </div>
                        <div *ngIf="nome.errors?.minlength && (nome.dirty || nome.touched)" class="text-danger">
                            <p>Nome do leilão muito curto</p>
                        </div>
                        <div *ngIf="nome.errors?.maxlength && (nome.dirty || nome.touched)" class="text-danger">
                            <p>Nome do leilão muito longo</p>
                        </div>
                    </div>

                    <div class = "col-md-12">
                        <label for="valorInicial" class="form-label">Lance Inicial</label>
                        <input autocomplete="off" type="text" class="form-control"  id="valorInicial" required 
                        placeholder="Digite o valor do lance inicial" formControlName="valorInicial" 
                        [ngClass]="{'is-invalid': valorInicial.errors && (valorInicial.dirty || valorInicial.touched)}"
                        [textMask]="{ mask: MASKS.currency.textMask}" (blur)="formatarValorFinal()">
                        <div *ngIf="valorInicial.errors?.required && (valorInicial.dirty || valorInicial.touched)" 
                        class="text-danger" >
                            <p>Preencha o valor do lance inicial</p>
                        </div>
                        <div *ngIf="valorInicial.errors?.min && (valorInicial.dirty || valorInicial.touched)" 
                        class="text-danger">
                            <p>Valor inválido</p>
                        </div>
                        <div *ngIf="valorInicial.errors?.max && (valorInicial.dirty || valorInicial.touched)" 
                        class="text-danger">
                            <p>Valor máximo atingido</p>
                        </div>
                    </div>

                    <div class = "col-md-12">
                        <label for="data inicial">Informe a data de início do leilão</label>
                        <input id="dataInicial" class="form-control" type="datetime-local" name="dataInicio" 
                        formControlName="dataInicio" 
                        [ngClass]="{'is-invalid': dataInicio.errors && (dataInicio.dirty || dataInicio.touched)}">
                        <div *ngIf="dataInicio.errors?.required && (dataInicio.dirty || dataInicio.touched)" class="text-danger">
                            <p>Favor preencher a data de início</p>
                        </div>
                        <div *ngIf="dataInicio.errors?.minDate && (dataInicio.dirty || dataInicio.touched)" class="text-danger">
                            <p>Data inválida</p>
                        </div>
                        <div *ngIf="dataInicio.errors?.maxDate && (dataInicio.dirty || dataInicio.touched)" class="text-danger">
                            <p>Data de início muito longe da data atual</p>
                        </div>
                    </div>
                    
                    <div class = "col-md-12">
                        <label for="data final">Informe a data do término do leilão</label>
                        <input id="data-final" class="form-control" type="datetime-local" name="dataTermino" 
                        formControlName="dataFinal" 
                        [ngClass]="{'is-invalid': dataFinal.errors && (dataFinal.dirty || dataFinal.touched)}">
                        <div *ngIf="dataFinal.errors?.required && (dataFinal.dirty || dataFinal.touched)" class="text-danger">
                            <p>Favor preencher a data de término</p>
                        </div>
                        <div *ngIf="dataFinal.errors?.mindate && (dataFinal.dirty || dataFinal.touched)" class="text-danger">
                            <p>Data inválida</p>
                        </div>
                        <div *ngIf="dataFinal.errors?.maxdate && (dataFinal.dirty || dataFinal.touched)" class="text-danger">
                            <p>Data de término muito longe da data atual</p>
                        </div>
                    </div>
                    
                    <div class="form-group">
                        <label for="fotoLeilao">Insira a foto do leilão</label>
                        <input type="file" class="form-control" id="fotoLeilao" formControlaName="fotoLeilao" 
                        (change)="anexarFoto($event)" >
                        <div *ngIf="mensagemAnexoFoto" class="text-danger">
                            {{mensagemAnexoFoto}}
                        </div>
                    </div>

                    <div class="col-md-12">
                        <button class="btn btn-primary" type="submit" [disabled]="!cadastroPForm.valid" >Cadastrar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>