<!-- <div>
  <main>
      <header>
          <h1>Sala: {{ produto.nome }}</h1>

          <div class="badges">
              <i class="fa fa-bell"></i>
              <div class="fa fa-user">
                  <p>username</p>
                  <img src="https://thispersondoesnotexist.com/image" class="profile-pic" /> 
              </div>
          </div>
      </header>

      <article>
          <div class="date">07 de setembro de 2021</div>
          <div *ngFor="let item of messages">
            <img src="https://thispersondoesnotexist.com/image" class="profile-pic"/>
            <div class="message">
                <p>{{item.text}}</p>
                <p>${ data.text }</p>
            </div>
          </div>
      </article>

      <footer>
          <input type="text" [(ngModel)]="message" name="message_field" id="message_field" placeholder="Escreva uma mensagem..." />
          <button type="button" class="btn btn-success pull-right" (click)="sendMessage()">Send</button>
          <i class="fa fa-paper-plane"></i>
      </footer>
  </main>
<div> -->

<!--   
<div class="container-fluid">
  <div class="row">
    <h2>Instant Chat</h2>
    <hr>
  </div>
  <div class="row">
    <div class="col-sm-5">
      <div class="form-group">
        <label for="username">Username</label>
        <input type="text" [(ngModel)]="user" class="form-control" id="username" placeholder="Enter username">
      </div>
    </div>
     <div class="col sm-2">
      <div style="margin-top:19px;">
        <button type="button" class="btn btn-primary" (click)="join()">Join</button>
       <button type="button" class="btn btn-default" (click)="leave()">Leave</button>
      </div>
    </div>
  </div> -->
<!-- <div>
  <div class="row">
    <div class="well" style="height:200px; padding:15px;">{{messages}}
      <div *ngFor="let item of messages">
        <span><strong>{{item}} : </strong> {{item}}</span>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-10">
      <input type="text" class="form-control" [(ngModel)]="message">
    </div>
    <div class="col-sm-2">
      <button type="button" class="btn btn-success pull-right" (click)="sendMessage()">Send</button>
    </div>
  </div>
</div>  -->
<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <div class="chat-container">
        <div class="alert" [class.visible]="isVisible"> 
          <p><strong>Valor Inválido!</strong> Insira um valor maior que o lance atual.</p>
        </div>
        <header class="chat-header">
          <h1><i class="fa fa-gavel" aria-hidden="true"></i> Chat</h1>
          <p>{{ timeLeft }}</p>
        </header>
        <main class="chat-main">
          <div class="chat-sidebar">
            <h3><i class="fa fa-comments"></i> Nome da sala:</h3>
            <h2 id="room-name">{{ produto?.nome }}</h2>
            <h3><i class="fa fa-usd" aria-hidden="true"></i> Valor Lance Atual:</h3>
            <h2 id="valorAtual" >{{ currentValue | currency: 'BRL' }}</h2> <!-- TODO: Aplicar máscara de currency aqui -->
            <h3><i class="fa fa-users"></i> Usuários </h3>
            <ul id="users">
              <li *ngFor="let user of users">{{ user.name }}</li>
            </ul>
          </div>
          <div class="chat-messages" #chatMessages *ngIf="messages.length > 0">
            <div class="message" #messages *ngFor="let item of messages">
              <p class="meta">
                {{ item.name }}
                <span>{{ item.time }}</span>
              </p>
              <p class="text">
                {{ item.text | currency: 'BRL' }}
              </p>
            </div>
          </div>
        </main>
        <div class="chat-form-container">
          <form (ngSubmit)="sendMessage()" id="chat-form">
            <input
              id="msg"
              type="text"
              [(ngModel)]="message"
              name="message_field"
              placeholder="Envie uma mensagem..."
              required
              autocomplete="off"
              class="form-control"
              [textMask]="{ mask: MASKS.currency.textMask}"
              (blur)="formatarValorFinal()"
            />
            <button type="submit" class="btn"><i class="fa fa-paper-plane"></i> Send</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

    