<div class = "container-fluid">
    <div class = "row justify-content-center">
        <div class="card form-group col-md-4 col-md-offset-5 align-center" >
            <div class="card-body">
                <div class="row">
                    <h3>Fazer login</h3>
                </div>
                <form class="row g-3 align-items-center" [formGroup]="loginForm" (ngSubmit)="fazerLogin()">
                    <div class="col-md-12">
                        <label for="Email" class="form-label">E-mail</label>
                        <input type="email" class="form-control" id="Email" required placeholder="Digite seu e-mail" formControlName="email">
                    </div>

                    <div class="col-md-12">
                        <label for="Senha" class="form-label">Senha</label>
                        <input type="password" class="form-control" id="Senha" required placeholder="Digite sua senha" formControlName="senha">
                        <div *ngIf="errorMessage" class="text-danger">
                            <p>{{errorMessage}}</p>
                        </div>
                    </div>
                
                    <div class="col-md-12">
                        <button class="btn btn-primary" type="submit">Fazer login</button>
                    </div>       
                    
                    <p class="col-md-12"> Ainda não tem uma conta? 
                        <a class="nav-link" [routerLink]="['/Cadastro']"><u>Cadastre-se</u></a></p>
                </form>
            </div>
        </div>
    </div>
</div>
