<div class="container main-container">
    <div class="row text-center">
        <div *ngFor="let leilao of leilaoList" class="col-md-4" style="padding-bottom: 30px">
            <div class="card h-100">
                <a class="text-decoration-none">
                    <div style="align-content:center;">
                        <img src="" height="164px" width="253" alt="">
                    </div>
                </a>
                <h4 class="card-title">{{ leilao.nome | titlecase }}</h4>

                <p>Lance inicial: {{ leilao.valorInicial }}</p>

                <div class="card-footer">
                    <a class="btn btn-primary">Participar</a>
                </div>
            </div>
        </div>
    </div>
</div>